<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>排名</h2></div>
        <div class='col-md-3'><button class='btn btn-primary float-right' @click="exportXlsx">导出为表格文件</button></div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12' v-if='teamsAvailable'>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" @click='changeorder("vp")' :class="{active: orderby === 'vp'}" href="#">按 VP 排序 <span class='sr-only' v-if="orderby === 'vp'">(当前)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click='changeorder("victory")' :class="{active: orderby === 'victory'}" href="#">按胜场排序 <span class='sr-only' v-if="orderby === 'victory'">(当前)</span></a>
            </li>
          </ul>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">排名</th>
                <th scope="col">编号</th>
                <th scope="col">名称</th>
                <th scope="col" v-if='orderby === "vp"'>总 VP</th>
                <th scope="col" v-if='orderby === "victory"'>胜负场</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='t in teamsInOrder' :key='t.id'>
                <th scope="row">{{t.rank}}</th>
                <td>{{teams[t.id].code}}</td>
                <td>{{teams[t.id].name}}</td>
                <td v-if='orderby === "vp"'>{{(teams[t.id].score).toFixed(2)}}</td>
                <td v-if='orderby === "victory"'>胜 {{teams[t.id].victory}} / 负 {{teams[t.id].defeat}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='col-md-12' v-else>
          <empty solution='请先添加队伍，并登记比赛成绩。' />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Empty from '@/components/Empty.vue'
import XLSX from 'xlsx'
export default {
  name: 'Rank',
  components: {Empty},
  data() {return {
    orderby: 'vp',
    teams: '',
    teamsAvailable: false,
    teamsInOrder: [],
    rounds: []
  }},
  created() {
    this.teams = JSON.parse(localStorage.getItem('bridge')).teams
    this.rounds = JSON.parse(localStorage.getItem('bridge')).rounds
    this.changeorder('vp')
    for(let i in this.teams) {
      this.teamsAvailable = true
      i
    }
  },
  methods: {
    async changeorder(mode) {
      this.orderby = mode
      let teamsForOrder = []
      for(let i in this.teams) teamsForOrder[teamsForOrder.length] = {
        id: i,
        token: (mode === 'vp' ? this.teams[i].score : this.teams[i].victory)
      }

      let sortresult = await qs(teamsForOrder)
      for (let i in sortresult) {
        if (i === '0') sortresult[i].rank = 1
        else {
          if (sortresult[i].token === sortresult[i - 1].token) sortresult[i].rank = sortresult[i - 1].rank
          else sortresult[i].rank = (parseInt(i) + 1)
        }
      }
      this.teamsInOrder = sortresult
    },
    async exportXlsx() {
      let teamsInSheet = [['由计分器生成：https://bridge.astrianzheng.com']]
      teamsInSheet[teamsInSheet.length] = ['排名', '编号', '队伍名称', '总 VP']
      for (let i in this.rounds) {
        teamsInSheet[1][teamsInSheet[1].length] = `第 ${parseInt(i)+1} 轮对手编号`
        teamsInSheet[1][teamsInSheet[1].length] = `第 ${parseInt(i)+1} 轮 VP 值`
      }
      for (let i in this.teamsInOrder) {
        let row = []
        row[row.length] = this.teamsInOrder[i].rank
        row[row.length] = this.teams[this.teamsInOrder[i].id].code
        row[row.length] = this.teams[this.teamsInOrder[i].id].name
        row[row.length] = this.teams[this.teamsInOrder[i].id].score
        for (let j in this.rounds) {
          for (let k in this.rounds[j].desk) {
            if (this.rounds[j].desk[k].home.team === this.teamsInOrder[i].id) {
              row[row.length] = this.teams[this.rounds[j].desk[k].guest.team].code
              row[row.length] = (this.rounds[j].desk[k].home.score).toFixed(2)
            }
            if (this.rounds[j].desk[k].guest.team === this.teamsInOrder[i].id) {
              row[row.length] = this.teams[this.rounds[j].desk[k].home.team].code
              row[row.length] = (this.rounds[j].desk[k].guest.score).toFixed(2)
            }
          }
        }
        teamsInSheet[teamsInSheet.length] = row
      }
      let wb = XLSX.utils.book_new()
      let ws = XLSX.utils.aoa_to_sheet(teamsInSheet)
      XLSX.utils.book_append_sheet(wb, ws, this.orderby === 'vp' ? '按 VP 排序的排名' : '按胜场排序的排名')
      XLSX.writeFile(wb, `ExportedBridgeScore_${new Date().getFullYear()}${("0" + (new Date().getMonth() + 1)).slice(-2)}${("0" + (new Date().getDate())).slice(-2)}.xlsx`, {compression:true})
    }
  }
}

async function qs(teams) {
  if (teams.length < 1) return teams
  let base = teams[0]
  let bigger = []
  let smaller = []
  for (let i in teams) {
    if (i !== '0') {
      if (teams[i].token > base.token) bigger[bigger.length] = teams[i]
      else smaller[smaller.length] = teams[i]
    }
  }
  bigger = await qs(bigger)
  smaller = await qs(smaller)
  teams = bigger
  teams[teams.length] = base
  teams = teams.concat(smaller)
  return teams
}
</script>

<style scoped lang='scss'>
ul.nav {
  margin-bottom: 30px;
}
table {
  thead {
    th {
      text-align: start;
    }
  }
  margin-bottom: 30px;
}
</style>