<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>添加一轮比赛</h2></div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12'>
          <p>选择本轮比赛对阵阵容。</p>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">桌</th>
                <th scope="col">主场队伍</th>
                <th scope="col">客场队伍</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='(d, i) in desk' :key="i">
                <th scope="row">{{ i+1 }}</th>
                <td>
                  <div class="form-group">
                    <label :for="`sheet-host-${i}`" class='sr-only'>选择 {{i+1}} 桌的主场</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}`" v-model="d.home.team">
                      <option disabled>选择主场队伍</option>
                      <option v-for="(t, j) in teams" :key="j" :value="j">{{t.name}}</option>
                    </select>
                  </div>
                  <p v-if='d.home.team'>开室牌手</p>
                  <div class="form-group" v-if='d.home.team'>
                    <label :for="`sheet-host-open-${i}-member1`" class='sr-only'>选择 {{i+1}} 桌主场的开室第一名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member1`" v-model="d.home.open[0]">
                      <option disabled>选择主场开室第一名牌手</option>
                      <option v-for="(m, j) in teams[d.home.team].members" :key="j" :value="m" :disabled='d.home.open[1] === m'>{{ members[m].name }}{{ d.home.open[1] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <div class="form-group" v-if='d.home.team'>
                    <label :for="`sheet-host-open-${i}-member2`" class='sr-only'>选择 {{i+1}} 桌主场的开室第二名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member2`" v-model="d.home.open[1]">
                      <option disabled>选择主场第二名牌手</option>
                      <option v-for="(m, j) in teams[d.home.team].members" :key="j" :value="m" :disabled='d.home.open[0] === m'>{{ members[m].name }}{{ d.home.open[0] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <p v-if='d.home.team'>闭室牌手</p>
                  <div class="form-group" v-if='d.home.team'>
                    <label :for="`sheet-host-open-${i}-member1`" class='sr-only'>选择 {{i+1}} 桌主场的闭室第一名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member1`" v-model="d.home.close[0]">
                      <option disabled>选择主场闭室第一名牌手</option>
                      <option v-for="(m, j) in teams[d.home.team].members" :key="j" :value="m" :disabled='d.home.close[1] === m'>{{ members[m].name }}{{ d.home.close[1] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <div class="form-group" v-if='d.home.team'>
                    <label :for="`sheet-host-open-${i}-member2`" class='sr-only'>选择 {{i+1}} 桌主场的闭室第二名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member2`" v-model="d.home.close[1]">
                      <option disabled>选择主场闭室第二名牌手</option>
                      <option v-for="(m, j) in teams[d.home.team].members" :key="j" :value="m" :disabled='d.home.close[0] === m'>{{ members[m].name }}{{ d.home.close[0] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label :for="`sheet-guest-${i}`" class='sr-only'>选择 {{i+1}} 桌的客场</label>
                    <select class="form-control form-control-sm" :id="`sheet-guest-${i}`" v-model="d.guest.team">
                      <option disabled>选择客场队伍</option>
                      <option v-for="(t, j) in teams" :key="j" :value="j">{{t.name}}</option>
                    </select>
                  </div>
                  <p v-if='d.guest.team'>开室牌手</p>
                  <div class="form-group" v-if='d.guest.team'>
                    <label :for="`sheet-host-open-${i}-member1`" class='sr-only'>选择 {{i+1}} 桌客场的开室第一名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member1`" v-model="d.guest.open[0]">
                      <option disabled>选择客场开室第一名牌手</option>
                      <option v-for="(m, j) in teams[d.guest.team].members" :key="j" :value="m" :disabled='d.guest.open[1] === m'>{{ members[m].name }}{{ d.guest.open[1] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <div class="form-group" v-if='d.guest.team'>
                    <label :for="`sheet-host-open-${i}-member2`" class='sr-only'>选择 {{i+1}} 桌客场的开室第二名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member2`" v-model="d.guest.open[1]">
                      <option disabled>选择客场第二名牌手</option>
                      <option v-for="(m, j) in teams[d.guest.team].members" :key="j" :value="m" :disabled='d.guest.open[0] === m'>{{ members[m].name }}{{ d.guest.open[0] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <p v-if='d.guest.team'>闭室牌手</p>
                  <div class="form-group" v-if='d.guest.team'>
                    <label :for="`sheet-host-open-${i}-member1`" class='sr-only'>选择 {{i+1}} 桌客场的闭室第一名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member1`" v-model="d.guest.close[0]">
                      <option disabled>选择客场闭室第一名牌手</option>
                      <option v-for="(m, j) in teams[d.guest.team].members" :key="j" :value="m" :disabled='d.guest.close[1] === m'>{{ members[m].name }}{{ d.guest.close[1] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                  <div class="form-group" v-if='d.guest.team'>
                    <label :for="`sheet-host-open-${i}-member2`" class='sr-only'>选择 {{i+1}} 桌客场的闭室第二名牌手</label>
                    <select class="form-control form-control-sm" :id="`sheet-host-${i}-member2`" v-model="d.guest.close[1]">
                      <option disabled>选择客场闭室第二名牌手</option>
                      <option v-for="(m, j) in teams[d.guest.team].members" :key="j" :value="m" :disabled='d.guest.close[0] === m'>{{ members[m].name }}{{ d.guest.close[0] === m ? ' (已选)' : '' }}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">...</th>
                <td colspan="2"><button class='btn btn-sm btn-primary' @click="addNewDesk">新增一桌</button> <button class='btn btn-sm btn-primary' @click="delOneDesk">删除一桌</button></td>
              </tr>
            </tbody>
          </table>
          <button class='btn btn-primary' @click='submit'>按此阵容添加一轮比赛</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Empty from '@/components/Empty.vue'
export default {
  name: 'AddRounds',
  // components: {Empty},
  data() {return {
    teams: {},
    members: {},
    desk: [{
        home: {
          team: null,
          open: [null, null],
          close: [null, null],
          score: 0
        },
        guest: {
          team: null,
          open: [null, null],
          close: [null, null],
          score: 0
        }
      }]
  }},
  created() {
    this.teams = JSON.parse(localStorage.getItem('bridge')).teams
    let teams = []
    for (let i in this.teams) {
      teams[teams.length] = i
    }
    if (teams.length < 2) {
      alert('队伍数量不足，不足以生成新一轮比赛。请先添加队伍。')
      this.$router.replace('/teams/add')
    }
    this.members = JSON.parse(localStorage.getItem('bridge')).members
    for (let i in this.teams) {
      this.teams[i].selected = false
    }
  },
  methods: {
    async addNewDesk() {
      this.desk.push({
        home: {
          team: null,
          open: [null, null],
          close: [null, null],
          score: 0
        },
        guest: {
          team: null,
          open: [null, null],
          close: [null, null],
          score: 0
        }
      })
    },
    async delOneDesk() {
      this.desk.pop()
    },
    async submit() {
      let desk = this.desk
      for (let i in desk) {
        desk[i].sessions = []
      }
      let data = JSON.parse(localStorage.getItem('bridge'))
      data.rounds.push({
        desk,
      })
      localStorage.setItem('bridge', JSON.stringify(data))
      this.$router.go(-1)
    }
  }
}
</script>
