<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-12'>
          <h2>牌桌详情</h2>
          <p>
            <b>第 {{parseInt($route.params.rid) + 1}} 轮</b><br>
            <b>{{data.teams[data.rounds[$route.params.rid].desk[$route.params.did].home.team].name}}</b> {{(10 + parseFloat(vp)).toFixed(2)}} : {{(10 - parseFloat(vp)).toFixed(2)}} <b>{{data.teams[data.rounds[$route.params.rid].desk[$route.params.did].guest.team].name}}</b><br>
            <b>开室对阵</b> {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].home.open[0]].name}} / {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].home.open[1]].name}} VS. {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].guest.open[0]].name}} / {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].guest.open[1]].name}}<br>
            <b>闭室对阵</b> {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].home.close[0]].name}} / {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].home.close[1]].name}} VS. {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].guest.close[0]].name}} / {{data.members[data.rounds[$route.params.rid].desk[$route.params.did].guest.close[1]].name}}<br>
          </p>
        </div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12'>
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col" rowspan="2">回合</th>
                <th scope="col" colspan="3">开室</th>
                <th scope="col" rowspan="2">IMP 变动</th>
                <th scope="col" colspan="3">闭室</th>
              </tr>
              <tr>
                <th scope="col">定约</th>
                <th scope="col">定约方</th>
                <th scope="col">结果</th>
                <th scope="col">结果</th>
                <th scope="col">定约方</th>
                <th scope="col">定约</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(s, i) in sessions" :key='i'>
                <th scope="row">{{i + 1}}</th>
                <td v-b-modal.modal-1 class='hiddenbtn' @click="tagContract(i, 'open')">{{s.open.contract.suit ? s.open.contract.num + s.open.contract.suit + (s.open.contract.double ? (s.open.contract.double === 2 ? '，再加倍' : '，加倍') : '') : '选择...'}}</td>
                <td>
                  <div class="form-group">
                    <label :for="`contract-${i}-open`" class='sr-only'>选择定约方</label>
                    <select class="form-control form-control-sm" :id="`contract-${i}-open`" v-model="s.open.contractor">
                      <option value='e'>东</option>
                      <option value='s'>南</option>
                      <option value='w'>西</option>
                      <option value='n'>北</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label :for="`result-${i}-open`" class='sr-only'>结果</label>
                    <input type='number' class="form-control form-control-sm" :id="`result-${i}-open`" v-model='s.open.result'>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label :for="`result-${i}-imp`" class='sr-only'>IMP 变动值</label>
                    <input type='number' class="form-control form-control-sm" :id="`result-${i}-imp`" v-model='s.imp'>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label :for="`result-${i}-close`" class='sr-only'>结果</label>
                    <input type='number' class="form-control form-control-sm" :id="`result-${i}-close`" v-model='s.close.result'>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label :for="`contract-${i}-close`" class='sr-only'>选择定约方</label>
                    <select class="form-control form-control-sm" :id="`contract-${i}-close`" v-model="s.close.contractor">
                      <option value='e'>东</option>
                      <option value='s'>南</option>
                      <option value='w'>西</option>
                      <option value='n'>北</option>
                    </select>
                  </div>
                </td>
                <td v-b-modal.modal-1 class='hiddenbtn' @click="tagContract(i, 'close')">{{s.close.contract.suit ? s.close.contract.num + s.close.contract.suit + (s.close.contract.double ? (s.close.contract.double === 2 ? '，再加倍' : '，加倍') : '') : '选择...'}}</td>
              </tr>
              <tr>
                <th scope="row">...</th>
                <td colspan="7">
                  <button class='btn btn-primary btn-sm' @click='addSession'>新增一回合</button>&nbsp;
                  <button class='btn btn-primary btn-sm' @click='delSession'>删除最后一回合</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class='btn btn-primary' @click='save'>保存修改</button>
        </div>
      </div>
    </div>
    <b-modal id="modal-1" title="定约卡" hide-footer>
      <div v-if='contractSelector.session !== -1'>
        <table class="table table-bordered">
          <tbody>
            <tr v-for='n in [7,6,5,4,3,2,1]' :key='n'>
              <td class='hiddenbtn ctsbtn' :class='{selected: ((contractSelector.session !== -1) ? ((sessions[contractSelector.session][contractSelector.site].contract.num === n) && (sessions[contractSelector.session][contractSelector.site].contract.suit === m)) : false)}' v-for="m in ['♦️', '♣️', '♥️', '♠️', 'NT']" :key='m' @click='setContract(n, m)'>{{n}} {{m}}</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <label for="doubleops" class='sr-only'>加倍选项</label>
          <select class="form-control" id="doubleops" @change="setDouble" v-model="doubleField">
            <option value=0>不加倍</option>
            <option value=1>× (加倍)</option>
            <option value=2>×× (再加倍)</option>
          </select>
        </div>
      </div>
      <button class='btn btn-primary' @click='setContractToSession()'>完成</button>
    </b-modal>
  </div>
</template>

<script>
// import Empty from '@/components/Empty.vue'
export default {
  name: 'Desk',
  // components: {Empty},
  data() {return {
    data: {},
    sessions: [],
    contractSelector: {session: -1, site: -1},
    doubleField: 0
  }},
  created() {
    this.data = JSON.parse(localStorage.getItem('bridge'))
    this.sessions = this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].sessions
  },
  methods: {
    async addSession() {
      this.sessions.push({
        open: {contract: {suit: null, num: null, double: 0}, contractor: null, result: null},
        close: {contract: {suit: null, num: null, double: 0}, contractor: null, result: null},
        imp: 0
      })
    },
    async delSession() {
      this.sessions.pop()
    },
    async calImp(s) {
      this.sessions[s].imp = this.sessions[s].open.result - this.sessions[s].close.result
    },
    async tagContract(session, site) {
      this.contractSelector = { session, site }
    },
    async setContract(num, suit) {
      this.sessions[this.contractSelector.session][this.contractSelector.site].contract.suit = suit
      this.sessions[this.contractSelector.session][this.contractSelector.site].contract.num = num
    },
    async setDouble(e) {
      console.log(e.target.value)
      console.log(this.contractSelector.session)
      if (this.contractSelector.session !== -1){
        console.log('setdouble')
        this.sessions[this.contractSelector.session][this.contractSelector.site].contract.double = parseInt(e.target.value)
      }
    },
    async setContractToSession() {
      this.contractSelector = {session: -1, site: -1}
      this.doubleField = 0
      this.$bvModal.hide('modal-1')
    },
    async save() {
      let home = JSON.parse(JSON.stringify(this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].home))
      let homeid = home.team
      home.team = JSON.parse(JSON.stringify(this.data.teams[home.team]))
      let guest = JSON.parse(JSON.stringify(this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].guest))
      let guestid = guest.team
      guest.team = JSON.parse(JSON.stringify(this.data.teams[guest.team]))
      console.log(home, guest, homeid, guestid)

      // deduction original score and victory log
      if (home.score > guest.score) {
        home.team.victory--
        guest.team.defeat--
      } else if (home.score < guest.score) {
        home.team.defeat--
        guest.team.victory--
      }
      home.team.score = home.team.score - home.score
      guest.team.score = guest.team.score - guest.score

      // write new score
      home.score = 10.0 + parseFloat(this.vp)
      guest.score = 10.0 - parseFloat(this.vp)
      home.team.score += home.score
      guest.team.score += guest.score

      // Count victory or defeat
      if (home.score > guest.score) {
        home.team.victory++
        guest.team.defeat++
      } else if (home.score < guest.score) {
        home.team.defeat++
        guest.team.victory++
      }

      // Write sessions
      this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].sessions = this.sessions

      // Write new logs into localStorage
      this.data.teams[homeid] = home.team
      home.team = homeid
      this.data.teams[guestid] = guest.team
      guest.team = guestid
      this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].home = home
      this.data.rounds[this.$route.params.rid].desk[this.$route.params.did].guest = guest
      localStorage.setItem('bridge', JSON.stringify(this.data))

      // Back to rounds list
      this.$router.go(-1)
    }
  },
  computed: {
    vp () {
      let imps = []
      let imptotal = 0
      let sign = false
      for (let i in this.sessions) {
        imps[imps.length] = this.sessions[i].imp
        imptotal += parseInt(this.sessions[i].imp)
      }
      if(imptotal < 0) {
        sign = true
        imptotal = -imptotal
      }
      let power = (imptotal / ( 5 * (Math.sqrt(imps.length)) ))
      if (power > 3) power = 3
      let numerator = (Math.sqrt(5) - 1) / 2
      numerator = Math.pow(numerator, power)
      numerator = 1 - numerator
      let denominator = (Math.sqrt(5) - 1) / 2
      denominator = Math.pow(denominator, 3)
      denominator = 1 - denominator
      let result = 10 * (numerator / denominator)
      if (isNaN(result)) result = 0
      if (sign) result = -result
      return result
    }
  }
}
</script>

<style lang='scss'>
thead {
  th {
    text-align: center;
  }
}
td.hiddenbtn:hover {
  cursor: pointer;
  background-color: #eee;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ctsbtn.selected {
  background-color: #ddd;
}
</style>