<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>比赛轮次</h2></div>
        <div class='col-md-3'><router-link to='rounds/add'><button type="button" class="btn btn-primary float-right">添加轮次</button></router-link></div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12' v-if='rounds.length'>
          <div class="card" v-for="(r, i) in rounds" :key="i">
            <div class="card-header">
              第 {{i+1}} 轮
            </div>
            <div class="card-body">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">桌</th>
                    <th scope="col">主场</th>
                    <th scope="col">客场</th>
                    <th scope="col">VP</th>
                    <th scope="col">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(d, j) in r.desk" :key="j">
                    <th scope="row">{{j+1}}</th>
                    <td>
                      {{teams[d.home.team].name}}<br>
                      <small>
                        开室：{{members[d.home.open[0]].name}} / {{members[d.home.open[1]].name}}<br>
                        闭室：{{members[d.home.close[0]].name}} / {{members[d.home.close[1]].name}}
                      </small>
                    </td>
                    <td>
                      {{teams[d.guest.team].name}}<br>
                      <small>
                        开室：{{members[d.guest.open[0]].name}} / {{members[d.guest.open[1]].name}}<br>
                        闭室：{{members[d.guest.close[0]].name}} / {{members[d.guest.close[1]].name}}
                      </small>
                    </td>
                    <td>
                      {{(d.home.score).toFixed(2)}} : {{(d.guest.score).toFixed(2)}}
                    </td>
                    <td><router-link :to='`/rounds/@${i}/desk/@${j}`'><button class='btn btn-primary btn-sm'>牌桌详情</button></router-link></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class='col-md-12' v-else>
          <empty />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Empty from '@/components/Empty.vue'
export default {
  name: 'Rounds',
  components: {Empty},
  data() {return {
    rounds: [],
    teams: {},
    members: {}
  }},
  created() {
    let data = JSON.parse(localStorage.getItem('bridge'))
    this.rounds = data.rounds
    this.teams = data.teams
    this.members = data.members
  }
}
</script>
