<template>
  <div class="row">
    <div class='col-md-12 empty'>
      <div class='empty-title'>此处<br>空空如也</div>
      <div class='empty-solution'>
        <span>{{solution || '尝试添加一些东西。'}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Empty',
  props: ['solution']
}
</script>

<style scoped lang='scss'>
  .empty {
    display:flex;
    flex-direction: column;
    color: #666;
    margin-top: 50px;

    .empty-title {
      font-size: 60px;
      font-weight: 200;
      line-height: 60px;
    }
    .empty-solution {
      margin-top: 30px;
      font-size: 20px;
    }
  }
</style>