<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>关于</h2></div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12'>
          <h3>桥牌计分器<br><small>版本 {{version}}</small></h3>
          <p>由 Astrian Zheng 开发。</p>
          <p>本程序源代码遵循 MIT 协议开源。请访问 <a href='https://gitlab.com/Astrian/bridgescorecal'>https://gitlab.com/Astrian/bridgescorecal</a> 获取源代码。<br><a href='https://gitlab.com/Astrian/bridgescorecal/-/issues'>报告程序问题</a></p>
          <p><small>版权所有 (c) 2020 Astrian Zheng</small></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from '../../../package.json'
export default {
  name: 'AddRounds',
  data() {return {
    version: ''
  }},
  created() {
    this.version = config.version
  },
  methods: {}
}
</script>
