<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>数据管理</h2></div>
        <div class='col-md-3'></div>
        <div class='col-md-12'><hr></div>
        <div class='col-md-12'>
          <div class="card">
            <div class="card-header">
              备份、恢复与共享
            </div>
            <div class="card-body">
              <h5 class="card-title">备份 / 对外共享</h5>
              <p class="card-text">此处可以拷贝计分器目前所有数据至剪贴板。<br>拷贝后，你可以将其粘贴至安全且私密位置，以备份数据；也可以将其通过即时通讯工具、社交网络等工具共享。</p>
              <button class='btn btn-primary copybtn' :data-clipboard-text="data">拷贝数据至剪贴板</button>
            </div>
            <div class="card-body">
              <h5 class="card-title">恢复 / 从共享查看</h5>
              <p class="card-text">此处可以恢复计分器数据及状态，或从共享的数据中进行恢复。<br>请将数据粘贴至以下框中，并选择「从剪贴板恢复数据」。<br>请注意，目前计分器中所有数据将被覆盖。</p>
              <textarea class="form-control" id="recoveringData" rows="3" v-model="recoveringData"></textarea>
              <button class='btn btn-primary' @click='recoverData'>从剪贴板恢复数据</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              危险区
            </div>
            <div class="card-body">
              <h5 class="card-title">清空所有数据</h5>
              <p class="card-text">清空计分器中所有数据，并恢复至初始状态。适用于将当前计分器用于全新比赛中。</p>
              <button class='btn btn-danger' @click='clearData'>清空所有数据</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Empty from '@/components/Empty.vue'
import Clipboard from 'clipboard'
export default {
  name: 'Data',
  // components: {Empty},
  data() {return {
    data: '',
    recoveringData: ''
  }},
  created() {
    this.data = localStorage.getItem('bridge')
    this.initClipboard()
  },
  methods: {
    initClipboard() {
      const clipboard = new Clipboard('.copybtn')
      clipboard.on('success', () => alert('数据已拷贝至剪贴板，现可在即时通讯工具（如微信、QQ）或其他安全位置进行粘贴。'))
      clipboard.on('error', () => alert('数据未被拷贝，因为出现了一些问题。') )
    },
    recoverData() {
      try {
        let sth = JSON.parse(this.recoveringData)
        if (!sth.teams) {throw 'no teams'}
        if (!sth.members) {throw 'no members'}
        if (!sth.rounds) {throw 'no rounds'}
      } catch(e) {
        return alert('粘贴的数据出现错误，请检查是否有携带额外的错误信息。')
      }
      if(!confirm('即将恢复剪贴板中的数据，这将会覆盖计分器中已有的数据，且不可恢复。若有重要的比赛数据，建议先进行备份操作。')) return
      localStorage.setItem('bridge', this.recoveringData)
      this.recoveringData = ''
      alert('粘贴的数据已被导入。')
    },
    clearData() {
      if (!confirm('即将清空数据，此操作不可撤销。若有重要的比赛数据，建议先进行备份操作。')) return
      let data = {
        teams: {},
        members: {},
        rounds: []
      }
      localStorage.setItem('bridge', JSON.stringify(data))
      alert('数据已被清空。')
    }
  }
}
</script>

<style scoped lang='scss'>
textarea {
  margin-bottom: 10px;
}
.card {
  margin-bottom: 10px;
}
</style>