<template>
<div class='app'>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class='container'>
      <router-link class="navbar-brand" to="/">桥牌计分器</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" :class='{ active: this.$route.path === "/" }'>
            <router-link class="nav-link" to="/" >排名 <span class="sr-only" v-if='this.$route.path === "/"'>(目前页面)</span></router-link>
          </li>
          <li class="nav-item" :class='{ active: this.$route.path === "/teams" }'>
            <router-link class="nav-link" to="/teams" >队伍与牌手 <span class="sr-only" v-if='this.$route.path === "/teams"'>(目前页面)</span></router-link>
          </li>
          <li class="nav-item" :class='{ active: this.$route.path === "/rounds" }'>
            <router-link class="nav-link" to="/rounds" >轮次 <span class="sr-only" v-if='this.$route.path === "/rounds"'>(目前页面)</span></router-link>
          </li>
          <li class="nav-item" :class='{ active: this.$route.path === "/data" }'>
            <router-link class="nav-link" to="/data" >数据管理 <span class="sr-only" v-if='this.$route.path === "/data"'>(目前页面)</span></router-link>
          </li>
          <li class="nav-item" :class='{ active: this.$route.path === "/about" }'>
            <router-link class="nav-link" to="/about" >关于 <span class="sr-only" v-if='this.$route.path === "/about"'>(目前页面)</span></router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container main">
    <router-view/>
  </div>
</div>
</template>

<script>
export default {
  name: 'App',
  created() {
    let storage = localStorage.getItem('bridge')
    if (!storage) {
      console.log('generating empty data')
      let data = {
        teams: {},
        members: {},
        rounds: []
      }
      localStorage.setItem('bridge', JSON.stringify(data))
    }
  }
}
</script>

<style>
.main {
  margin-top: 100px;
  margin-bottom: 30px;
}
</style>
