<template>
  <div class="row"><div class='col-md-12'>
    <div class='row'>
      <div class='col-md-9'><h2>添加队伍</h2></div>
      <div class='col-md-3'></div>
    </div>
    <div class='row'><div class='col-md-12'>
      <form @submit.prevent="createTeam">
        <div class="form-group">
          <label for="form-name">名称</label>
          <input v-model="form.name" type="text" class="form-control" id="form-name" placeholder="张三的桥牌队" required oninvalid="this.setCustomValidity('请指定正确的队伍名称。')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group">
          <label for="form-code">编号</label>
          <input v-model="form.code" type="text" class="form-control" id="form-code" placeholder="1" required oninvalid="this.setCustomValidity('请指定正确的队伍编号。')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group">
          <label for="form-member">成员</label>
          <textarea v-model='form.memberintext' class="form-control" id="form-member" aria-describedby="form-member-help" rows="5" oninvalid="this.setCustomValidity('至少需要添加一位牌手。')" oninput="this.setCustomValidity('')" required />
          <small id="form-member-help" class="form-text text-muted">每行一位队伍中的牌手名称。</small>
        </div>
        <button class="btn btn-primary" type='submit'>添加队伍</button>
      </form>
    </div></div>
  </div></div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
export default {
  name: 'AddTeam',
  data() { return {
    form: {
      id: '',
      name: '',
      memberintext: '',
      code: ''
    }
  }},
  async created() {
    this.form.id = await genteamid()
  },
  methods: {
    async createTeam() {
      // Get global data
      let globalData = JSON.parse(localStorage.getItem('bridge'))

      // Get submit data
      let submitdata = this.form

      // Parse members list
      let members = submitdata.memberintext.split('\n')
      
      // Write members to global data
      for (let i in members) {
        let newid = await genmemberid()
        globalData.members[newid] = {
          name: members[i],
          team: submitdata.id,
          score: 0
        }
        members[i] = newid
        localStorage.setItem('bridge', JSON.stringify(globalData))
      }

      // Edit team
      globalData.teams[submitdata.id] = {
        name: submitdata.name,
        members,
        score: 0,
        code: submitdata.code,
        victory: 0,
        defeat: 0
      }
      localStorage.setItem('bridge', JSON.stringify(globalData))
      this.$router.replace('/teams')
    }
  }
}
async function genteamid() {
  let newid = uuidv4()
  let data = (JSON.parse(localStorage.getItem('bridge'))).teams
  if (data[newid]) return genteamid()
  else return newid
}

async function genmemberid() {
  let newid = uuidv4()
  let data = (JSON.parse(localStorage.getItem('bridge'))).members
  if (data[newid]) return genteamid()
  else return newid
}
</script>
