<template>
  <div class="row">
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-9'><h2>队伍与牌手</h2></div>
        <div class='col-md-3'><router-link to='teams/add'><button type="button" class="btn btn-primary float-right">添加队伍</button></router-link></div>
        <div class='col-md-12'><hr></div>
      </div>
        <div v-if='teamslength' class='row'>
          <div class='col-md-4' v-for='(t, id) in teams' v-bind:key="id">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ t.name }}</h5>
                <p class="card-text">
                  <b>队员数量</b> {{ t.members.length }}<br>
                  <b>总 VP</b> {{ (t.score).toFixed(2) }}<br>
                  <b>胜负场数</b> 胜 {{t.victory}} / 负 {{t.defeat}}
                </p>
                <router-link :to="`teams/@${id}`" class="btn btn-primary">队伍详情</router-link>
              </div>
            </div>
          </div>
        </div>
        <div v-else class='row'><div class='col-md-12'><Empty /></div></div>
    </div>
  </div>
</template>

<script>
import Empty from '@/components/Empty.vue'
export default {
  name: 'Teams',
  components: {Empty},
  data() {return {
    teams: {},
    teamslength: 0
  }},
  created() {
    this.teams = JSON.parse(localStorage.getItem('bridge')).teams
    for (let i in this.teams) {
      this.teamslength ++
      i
    }
  }
}
</script>

<style scoped>
  .card {
    margin-bottom: 20px;
  }
</style>