<template>
  <div class="row">
    <div class='col-md-12'>
      <div v-if='error'><Empty solution='检查队伍 ID 是否正确。' /></div>
      <div v-else>
        <div class='row'><div class='col-md-9'><h2>{{ team.name }}<br><small>队伍详情</small></h2></div></div>
        <hr>
        <h3>队员列表</h3>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">名字</th>
              <th scope="col">个人积分</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="m in team.members" v-bind:key="m">
              <th scope="row">{{ members[m].name }}</th>
              <td>{{ members[m].score }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Empty from '@/components/Empty.vue'
export default {
  name: 'TeamDetail',
  components: {Empty},
  data() {return {
    team: {},
    error: false,
    members: {}
  }},
  created() {
    this.team = JSON.parse(localStorage.getItem('bridge')).teams[this.$route.params.id]
    if (!this.team) this.error = true
    this.members = JSON.parse(localStorage.getItem('bridge')).members
  }
}
</script>
